{% extends "pressgang/actions/record.html" %}

{% load i18n %}

{% block error_title %}
	{% if action.locking %}
		{% trans "An error occurred during lockdown!" %}
	{% else %}
		{% trans "An error occurred during unlocking!" %}
	{% endif %}
{% endblock %}

{% block completed_title %}
	{% if action.locking %}
		{% trans "Lockdown successful!" %}
	{% else %}
		{% trans "Unlocking successful!" %}
	{% endif %}
{% endblock %}

{% block completion_text %}
	{% if action.locking %}
		{% blocktrans with blog.title as title %}
			The blog {{ title }} was succesfully locked down.
		{% endblocktrans %}
	{% else %}
		{% blocktrans with blog.title as title %}
			The blog {{ title }} was succesfully unlocked.
		{% endblocktrans %}
	{% endif %}
{% endblock %}

{% block extra_actions %}
	<li class="action">
		{% if action.locking %}
			{% url pressgang:confirm-unlock blog_id=blog.pk as action_url %}
		{% else %}
			{% url pressgang:confirm-lockdown blog_id=blog.pk as action_url %}
		{% endif %}

		<a href="{{ action_url }}">
			{% if action.locking %}
				{% trans "Unlock This Blog" %}
			{% else %}
				{% trans "Lock This Blog" %}
			{% endif %}
		</a>
	</li>
{% endblock %}
