
@import "../core/mixins";
@import "../core/settings";

body.manage-blogs {

	// Current version notice
	#current-version {
		background: $color-bg-highlight;
		border: 1px solid darken($color-bg-highlight, 20%);
		float: right;
		margin: -3em 0;
		padding: 0.75em 1.5em;
		@include rounded(all, 0.75em);
		text-shadow: $color-shadow-light 1px 1px 0;

		strong {
			font-weight: bold;
		}
	}

	// Wrapper for the table of all installed blogs
	#all-blogs {
		margin-bottom: 1.5em;
		margin-top: 3em;

		// General styling and sizing for columns
		.title {
			width: 25%;
		}
		.change {
			width: 9em;
		}


		// Individual blog listings
		tbody {

			// A single blog
			.blog {

				// Fade locked-down blogs
				&.locked td {
					background: $color-bg-muted;
				}

				// Blog actions
				.change {

					.actions {
						font-weight: bold;

						// A single action
						.action {
							background-repeat: no-repeat;
							background-position: left center;
							padding-left: 1.5em;
							text-shadow: $color-shadow-bright 1px 1px 0;


							// Make each action button look different
							&.rollback {
								background-image: url("../images/icon-arrow-refresh.png");
							}
							&.lock {
								background-image: url("../images/icon-lock-closed.png");
							}
							&.unlock {
								background-image: url("../images/icon-lock-open.png");
							}
							&.add-blogs {
								background-image: url("../images/icon-page-add.png");
							}
						}
					}
				}
			}
		}

	}
}
