
@import "../core/mixins";
@import "../core/settings";

body.lockdown-confirmation {

	// The confirmation prompt
	#prompt {
		margin-top: 1em;
	}

	// Buttons for confirming or rejecting the lockdown action
	.buttons {
		margin-top: 1.5em;

		.button {
			margin-right: 3em;

			&.confirm {
				font-weight: bold;
			}

			&.reject {
				background: $color-bg-button-small;
				color: $color-text-header;
				text-shadow: 1px 1px 0 $color-shadow-bright;

				&:hover {
					background: lighten($color-bg-button-small, 2%);
				}
			}
		}
	}

}
