
// Base Font: 14px
// Vertical Rhyhtm: 21px
//
// Px        Em         V. Px      V. Em
//----------------------------------------
// 10.5      0.8        21         2
// 12        0.857      21         1.75
// 14        1          21         1.5
// 17.5      1.25       21         1.2
// 21        1.5        21         1
// 24.5      1.75       42         1.714
// 28        2          42         1.5

// Colors
$color-bg-button-small: #dfdfda;
$color-bg-button: #afafaa;
$color-bg-error: #ecc;
$color-bg-header: #dfdfda;
$color-bg-highlight: #fafada;
$color-bg-muted: #ddd;
$color-bg-notice: #fafafa;
$color-bg-notice-strong: #fafaee;
$color-bg-page: #efefec;
$color-border: #bbb;
$color-border-highlight: #efefec;
$color-border-light: #bbb;
$color-border-strong: #777;
$color-link-weak: #a66;
$color-link: #a00;
$color-shadow-bright: #f5f5f5;
$color-shadow-header: #fff;
$color-shadow-light: #d5d5d5;
$color-text-button: #fff;
$color-text-error: #a00;
$color-text-header-accent: #a22;
$color-text-header: #5f5f5a;
$color-text-strong: #000;
$color-text-success: #090;
$color-text-warning: #774;
$color-text-weak: #555;
$color-text-very-weak: #999;
$color-text: #333;

// Dimensions
$dimension-body-padding-x: 3em;
