{% extends "pressgang/manage/base.html" %}

{% load i18n %}
{% load pressgang_accounts %}
{% load pressgang_lockdown %}

{% block title %}
	{% if user|can_manage_blogs %}
		{% trans "Manage Blogs" %}
	{% else %}
		{% trans "All Blogs" %}
	{% endif %}
{% endblock %}
{% block page_title %}
	{% if user|can_manage_blogs %}
		{% trans "Manage Blogs" %}
	{% else %}
		{% trans "All Blogs" %}
	{% endif %}
{% endblock %}

{% block body_classes %}manage-blogs{% endblock %}

{% block javascript %}
	{{ block.super }}
	<script type="text/javascript" src="{{ MEDIA_URL }}pressgang/js/libs/jquery.tablesorter.2.0.5.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}pressgang/js/manage/list.js"></script>
{% endblock %}

{% block body %}

	<ul id="management-actions">
		<li>
			<a href="{% url pressgang:sync-blogs %}" title="{% trans "Refresh the list of blogs installed on the server" %}" class="button sync">{% trans "Sync Blogs" %}</a>
		</li>
	</ul>

	{% if current_version %}
		<p id="current-version">
			{% trans "Latest WordPress version" %} &mdash; <strong>{{ current_version.full }}</strong>
		</p>
	{% endif %}

	{% if synced %}
		<ul class="messages">
			<li class="message success">{% trans "All Blogs were successfully synced." %}</li>
		</ul>
	{% endif %}

	{% if blogs %}

		<table id="all-blogs" class="sortable">

			<thead>
				<tr>
					{% if user|can_manage_blogs %}
						<th class="change">{% trans "Actions" %}</th>
					{% endif %}
					<th class="title">{% trans "Title" %}</th>
					<th class="path">{% trans "Path" %}</th>
					<th class="version">{% trans "Version" %}</th>
					<th class="created">{% trans "Created" %}</th>
					<th class="managed">{% trans "Managed" %}</th>
				</tr>
			</thead>

			<tbody>
				{% for blog in blogs %}
					<tr class="blog {% if blog|is_locked %}locked{% endif %} {% if blog.is_managed %}managed{% endif %}">
						{% if user|can_manage_blogs %}
							<td class="change">
								<ul class="actions">
									<li class="action {% if blog|is_locked %}unlock{% else %}lock{% endif %}">
										{% if blog|is_locked %}
											{% url pressgang:confirm-unlock blog_id=blog.pk as lockdown_url %}
										{% else %}
											{% url pressgang:confirm-lockdown blog_id=blog.pk as lockdown_url %}
										{% endif %}
										<a title="{% if blog|is_locked %}{% trans "Reopen the blog" %}{% else %}{% trans "Lock down the blog" %}{% endif %}" href="{{ lockdown_url }}">
											{% if blog|is_locked %}
												{% trans "Unlock" %}
											{% else %}
												{% trans "Lock" %}
											{% endif %}
										</a>
									</li>
									{% if blog.has_version_snapshots %}
										<li class="action rollback">
											<a href="{% url pressgang:reversion-options blog_id=blog.pk %}" title="{% trans "Revert to an older version of the blog" %}">{% trans "Revert" %}</a>
										</li>
									{% endif %}
									{% if blog.version.is_multi %}
										<li class="action add-blogs">
											<a href="{% url pressgang:add-blogs-options blog_id=blog.pk %}" title="{% trans "Add child blogs" %}">{% trans "Add Blogs" %}</a>
										</li>
									{% endif %}
								</ul>
							</td>
						{% endif %}
						<td class="title"><a href="{{ blog.url }}" title="{% trans "Visit blog" %}">{{ blog.title }}</a></td>
						<td class="path">{{ blog.path }}</td>
						<td class="version">{{ blog.version }}</td>
						<td class="created sort__{{ blog.created|date:"Ymd" }}">{{ blog.created|date }}</td>
						<td class="managed {{ blog.is_managed|yesno:"yes,no" }} sort__{{ blog.is_managed|yesno:"1,0" }}" title="{% if blog.is_managed %}{% trans "Managed" %}{% else %}{% trans "Unmanaged" %}{% endif %}">
							{% if blog.is_managed %}
								{% trans "Yes" %}
							{% else %}
								{% trans "No" %}
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

	{% else %}

		<p id="sync-suggestion">
			{% url pressgang:sync-blogs as sync_url %}
			{% blocktrans with sync_url as sync_url %}
				No blogs were found on the server.  You can try
				<a href="{{ sync_url }}">refreshing the list of blogs</a> to
				see if any are discovered.
			{% endblocktrans %}
		</p>

	{% endif %}

{% endblock %}
